a:link {
  color: rgb(76, 201, 240);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(76, 201, 240);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(76, 201, 240);
  text-decoration: none;
}

/* selected link */
a:active {
  color: rgb(76, 201, 240);
  text-decoration: none;
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
}
html,
body{
max-width: 100vw;
/* overflow-x: hidden; */
/* background-color: aquamarine; */
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
}


